<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
  <title>Add Blog</title>
</head>
<body>
  <%- include('./partials/navbar') %>

  <div class="container mt-4">
    <h1>Add a New Blog</h1>
    <form action="/blog" method="post" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="coverImageURL" class="form-label">Cover Image</label>
        <input type="file" class="form-control" id="coverImageURL" name="coverImageURL"  required>
      </div>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" required>
      </div>
      <div class="mb-3">
        <label for="body" class="form-label">Body</label>
        <textarea class="form-control" id="body" name="body" rows="5" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <%- include('./partials/scripts') %>
</body>
</html>