<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
  <title>Home</title>
</head>
<body>
  <%- include('./partials/navbar') %>

  <h1>Welcome to the Home Page</h1>
<%= JSON.stringify(user) %>
  <%- include('./partials/scripts') %>

</body>
</html>
