<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <h1>Sign Up Page</h1>
<form action="/user" method="POST">
    <label for="">Enter your Full name</label>
    <input type="text" name="name" required>
    <label for="">Enter your email</label>
    <input type="text" name="email" required> 
    <label for="">Enter Password</label>
    <input type="text" name="password" required>
    <button type="submit">Signup</button>
</form>
</body>
</html>